<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="background-img"></div>
    <div class="nav-bar"> 
        <ul class="list">
            <li><a class="navbar-links" href="/home" style="color: orange;">HOME</a></li>
            <li><a class="navbar-links" href="/signup">SIGN UP</a></li>
            <li><a class="navbar-links" href="/logout">LOGOUT</a></li>
            <li><a class="navbar-links" href="/search" >SEARCH</a></li>
            <li><a class="navbar-links" href="/BOOKMARKS">BOOKMARKS</a></li>
            <li><a class="navbar-links" href="/Doubts">DOUBTS</a></li>
        </ul>
    </div>
</body>
</html>