
.nav-bar {
    display: flex;
    background-image: linear-gradient(to bottom right , rgb(238, 234, 234) , rgb(236, 236, 240));
    justify-content: start;
    align-items: center;
    min-width: 1500px;
    font-size: 2.2rem;
    border-radius: 20px;
    border: solid black;
    color:gray;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 70px;
    padding: 0;
    gap: 30px;
}
.list li:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
}

.logo-img {
    height: 120px;
}
.navbar-links{
    text-decoration: none;
    color: gray
}
.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../static/hackbg.png');
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    /* opacity: 0.2; */
    z-index: -1;
}